---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Homepage">
	<div class="flex flex-col md:flex-row gap-4">
		<div class="flex flex-1 items-center justify-center">
			<p class="text-pretty text-center p-4">
				Hi, I'm <em>Gökay Yıldız</em>! A self-taught fullstack developer
				with a passion for creating seamless, efficient, and innovative
				digital solutions. With a diverse background in engineering and
				hands-on experience in web and mobile development, I bring a
				unique perspective to each project. From frontend design to
				backend efficiency, I strive to build applications that are as
				intuitive as they are functional. Welcome to my portfolio –
				let's create something remarkable together!
			</p>
		</div>
		<div
			class="flex flex-1 order-first md:order-last items-center justify-center"
		>
			<img src="/images/gokay.png" alt="Gökay Yıldız" class="max-h-52" />
		</div>
	</div>
</Layout>
