---
import ThemeToogle from "./ThemeToogle.astro";
---

<header class="container flex flex-row mx-auto">
    <a
        class="dark:hover:text-neutral-100 hover:text-neutral-950"
        href="mailto:gokayildiz@icloud.com">gokayildiz@icloud.com</a
    >
    <nav class="flex flex-row-reverse flex-1 order-last">
        <ul class="inline-flex flex-row gap-5">
            <li class="dark:hover:text-neutral-100 hover:text-neutral-950">
                <a href="/">Home</a>
            </li>
            <li><ThemeToogle /></li>
        </ul>
    </nav>
</header>
