---

---

<header class="container flex flex-row mx-auto">
    <a class="hover:text-neutral-100" href="mailto:gokayildiz@icloud.com"
        >gokayildiz@icloud.com</a
    >
    <nav class="flex flex-row-reverse flex-1 order-last">
        <ul class="inline-flex flex-row gap-5">
            <li class="hover:text-neutral-100"><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blog">Blog</a></li>
        </ul>
    </nav>
</header>
