<article class="flex flex-col gap-12">
    <h3 class="text-lg dark:text-neutral-100 text-neutral-950">Latest Posts</h3>
    <div class="flex flex-col md:flex-row gap-12">
        <div
            class="flex-1 border hover:border-neutral-950 dark:hover:border-neutral-100 border-neutral-400 p-5"
        >
            Post 1
        </div>
        <div
            class="flex-1 border hover:border-neutral-950 dark:hover:border-neutral-100 border-neutral-400 p-5"
        >
            Post 2
        </div>
    </div>
</article>
